*.cpio.gz
.*.cmd
Module.symvers
modules.order
*.o
*.ko
*.mod
*.mod.*
/rootfs/flag
/rootfs/init
/rootfs/lib/firmware/chaos
/rootfs/home
/release/*.gz
/release/bzImage
/release/flag_*
/release/pc-bios
/release/qemu-*
/release/sandbox
/deploy/bzImage
/deploy/pc-bios
/deploy/qemu-*
/deploy/sandbox
/deploy.tar.gz
